annotated-types==0.7.0
keymap-drawer==0.23.0
pcpp==1.30
platformdirs==4.10.0
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
pyparsing==3.3.2
python-dotenv==1.2.2
PyYAML==6.0.3
tree-sitter==0.25.2
tree-sitter-devicetree==0.14.1
typing-inspection==0.4.2
typing_extensions==4.16.0
